extends layout

block content
  h1 Purchase was successfully added to purchases database!!
  br
  label customer_id: #{customer_id}
  br
  label year: #{year}
  br
  label month: #{month}
  br
  label product_id: #{product_id}
  br
  label product_name: #{product_name}
  br
  label quantity: #{quantity}
  br
  label total_sum: #{total_sum}
  br
