style.
  fieldset {
  background-color: #eeeeee;
  font-size:20px;
  width: 550px;
  margin:auto;
  }
  legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
  }
  input {
  margin: 5px;
  font-size:20px;
  }
  form {
  width: 50vw;
  margin-left : 25vw;
  }

h1 Purchases Report For #{customer_id} - #{first_name} #{last_name}
h2 Month: #{month} Year: #{year}
h3 Total Sum of All Purchses: #{all_purchases_sum}₪
br
ul
  each val in dictionary
    li= "Product Name: " + val.product_name
    li= "Product ID: " + val.product_id
    li= "Quantity: " + val.quantity
    li= "Total Price: " + val.total_sum + "₪"
    br
    br